<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script>window.Handlebars || document.write('<script src="js/vendor/handlebars-v4.0.5.js">\x3C/script>');</script>

<section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Watches
        </h2>
      </div>
    <div id="watches__section" class="row">
        <!--
                {{#each watches}}
                <div class="{{#if this.featured}}col-md-6 {{else}}col-sm-6 col-xl-3{{/if}}">
                <div class="box">
                    <a href="">
                    <div class="img-box">
                        <img src="{{this.image}}" alt="">
                    </div>
                    <div class="detail-box">
                        <h6>
                        {{this.name}}
                        </h6>
                        <h6>
                        Price:
                        <span>
                            ${{this.price}}
                        </span>
                        </h6>
                    </div>
                    <div class="new">
                        <span>
                        {{this.tag}}
                        </span>
                    </div>
                    </a>
                </div>
                </div>
                {{/each}}
        -->
    </div>
    <form class="contact_section chat_credentials">
        <label for="name">Name</label>
        <input type="text" name="message" id="product_name">
        <label for="price">Price</label>
        <input type="number" name="price" id="product_price">
        <label for="tag">Tag</label>
        <input type="text" name="tag" id="product_tag">
        <label for="image">Image URL</label>
        <input type="text" name="image" id="product_image">
        <button type="button" id="btn_send_product">SEND</button>
      </form>
</section>